<div class="uk-container">
  <article class="uk-article" *ngFor="let post of posts | async">
  <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{ post.postTitle }}</a></h1>
  <p class="uk-article-meta">Written by <a href="#">{{ post.postAuthor }}</a> on {{ post.postTime | date:'dd, MMM yyyy, h:mm a' }}. Posted in <a href="#">Blog</a></p>
  <!-- <p [innerHTML]= "post.postContent"></p> -->
  <markdown ngPreserveWhitespaces>{{ post.postContent }}</markdown>

  
  <hr class="uk-divider-icon">
  <app-addcomment></app-addcomment>
  <app-showcomments></app-showcomments>
  </article>
</div>


<!-- <div *ngFor="let post of posts | async">
  <h3>Tieu de: {{ post.postTitle }}</h3>
  <h4>Tac gia: {{ post.postAuthor }}</h4>
  <p>Noi dung: {{ post.postContent }}</p>
  <pre>ID cua post: {{ post.postID }} </pre>
  <hr>
  <app-addcomment></app-addcomment>
  <hr>
  <app-showcomments></app-showcomments>
</div> -->
