
<div class="uk-container">
    <div *ngIf="auth.user | async; then authenticated else guest">
            <!-- template will replace this div -->
    </div>
  
  <!-- User NOT logged in -->
  <ng-template #guest class="box">
    <em>Vui lòng đăng nhập để chém =)) </em>
    <a routerLink="/login">nhấn vào đây đkm</a>

  </ng-template>
  
  <!-- User logged in -->
  <ng-template #authenticated>
    <div *ngIf="auth.user | async as user">
        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Nhập tiêu đề" #postTitle>
        </div>
        <md-editor name="Content" [preRender]="preRenderFunc" [(ngModel)]="mdContent" [height]="'200px'" [mode]="editor" [options]="options" required maxlength="500"></md-editor>

        <button (click)="addNewPost(mdContent.value, postTitle.value )">Send</button>


    </div>
  </ng-template>

</div>