<!-- <div class="container" > -->
  <div *ngIf="auth.user | async; then authenticated else guest">
          <!-- template will replace this div -->
  </div>
<!-- </div> -->

<!-- User NOT logged in -->
<ng-template #guest class="box">

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a routerLink="/login">Login to get started...</a>
            </li>
        </ul>
    </div>

  <!-- <h6>Howdy, GUEST</h6>
  <p class="card-text">Login to get started...</p>
  <button class="button" routerLink="/login">Login</button> -->
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>

    <div *ngIf="auth.user | async as user" class="uk-navbar-right">

        <ul class="uk-navbar-nav">
            <li>
                <a href="#"><img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=25px></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li>Hello {{ user.displayName }}</li>
                        <li><a (click)="logout()">Log out</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/addpost">Add post</a></li>
        </ul>

    </div>

  <!-- <div *ngIf="auth.user | async as user">
    <h6>Howdy, {{ user.displayName }}</h6>
    <img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
    <p class="text-truncate">UID: {{ user.uid }}</p>
    <button class="button" (click)="logout()">Logout</button>
  </div> -->
</ng-template>
